@using TravelTripProject.Models.Classes
@model List<Blog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Blog Listesi</h2>
<br />
<table id="example" class="table table-bordered" style="width:100%">
    <tr>
        <th>ID</th>
        <th>BAŞLIK</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>DETAYLAR</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Title</td>
            <td><a href="/Admin/DeleteBlog/@item.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/FindBlog/@item.ID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Blog/BlogDetail/@item.ID" class="btn btn-default btn-outline-dark">Detaylar</a></td>
        </tr>
    }
</table>

<!-- Pagination -->
<div class="text-center">
    Page @ViewBag.CurrentPage of @Math.Ceiling((double)ViewBag.TotalBlogs / ViewBag.PageSize)
    <br />
    @if (ViewBag.CurrentPage > 1)
    {
        <a class="btn btn-success" href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1, pageSize = ViewBag.PageSize })">Previous</a>
    }
    @if (ViewBag.CurrentPage < Math.Ceiling((double)ViewBag.TotalBlogs / ViewBag.PageSize))
    {
        <a class="btn btn-success" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1, pageSize = ViewBag.PageSize })">Next</a>
    }
</div>
<!-- Pagination -->
<a href="/Admin/NewBlog/" class="btn btn-primary">Yeni Blog</a>

